@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./fonts/Inter-Regular.ttf");
@import url("./fonts/BrutalMilkNo3-Extrabold.otf");

@layer base {
  @font-face {
    font-family: brutal;
    src: local("BrutalMilkNo3-Extrabold"),
      url(./fonts/BrutalMilkNo3-Extrabold.otf) format("opentype");
  }
  @font-face {
    font-family: inter;
    src: local("Inter-Regular"),
      url(./fonts/Inter-Regular.ttf) format("truetype");
  }
}
